html
    head
        link(rel= "stylesheet", href="style/style.css")
        meta(charset = "utf-8")
        meta(name = "viewport", content = "initial-scale=1.0, width=device-width")
        title Fe-2 the best
    body
        .wrapper
            .header
                include template/head.pug
            .company
                include template/company.pug
            .projects
                include template/projects.pug
            .team
                include template/team.pug
            .location
                include template/location
            .footer
                include template/footer.pug